@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --black;
 }


:root{
  --bg: #ffffff;
  --surface: #f8fafc;
  --text: #111827;
  --text-sec: #6b7280;
  --text-btn: #fafafa;
  --border: #e5e7eb;
  --primary: #2563eb;
  --button: #0a0a0a;
  --shadow: rgba(15,23,42,.06);
  --navbar: rgba(255,255,255,.75);

}

.dark{
  --bg: #0a0a0a;
  --surface: #18181b;
  --text: #fafafa;
  --text-sec: #a1a1aa;
  --text-btn: #111827;
  --border: #27272a;
  --primary: #60a5fa;
  --button: #ffffff;
  --shadow: rgba(0,0,0,.35);
  --navbar: rgba(10,10,10,.75);
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Geist", sans-serif;
}

.scrolled{
  background-color: var(--navbar);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px var(--shadow);
}
