@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


:root{
  --bg: #ffffff;
  --surface: #f8fafc;
  --text: #111827;
  --text-sec: #6b7280;
  --border: #e5e7eb;
  --primary: #2563eb;
}

.dark{
  --bg: #0a0a0a;
  --surface: #18181b;
  --text: #fafafa;
  --text-sec: #a1a1aa;
  --border: #27272a;
  --primary: #60a5fa;
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Geist", sans-serif;
}

